body {
    background: rgb(78, 78, 239);
    font: nomal 15pt arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.693);
}
div {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font: normal 10pt;
}

img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}